#mainDiv {
    width: 80%;
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    border: 10px double black;
    background-color: #eeee;
    padding: 10px;
    border-radius: 20pxpx;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#resultDiv {
    background-color: green;
    font-size: 36px;
    text-align: right;
    padding: 10px 15px;
    border-radius: 10px;
    color: black;
    margin-bottom: 20px;
    
}

.row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.btn {
    background-image: linear-gradient(green, green);
    color: white;
    width: 15%;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5;

}

.btn:active {
    background-color: black;
}

.btn:hover {
    cursor: pointer;
    background-color: darkgreen;
    background-image: none;
}